.preloader-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: rgb(240, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-container .logo img {
    width: 15%;
}

.preloader-container .circle {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
}

.preloader-container .circle-1 {
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    width: 180px;
    height: 180px;
    animation: rotate-clock-wise 1.8s infinite linear;
}

.preloader-container .circle-2 {
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 200px;
    height: 200px;
    animation: rotate-anti-clock-wise 1.8s infinite linear;

}

.preloader-container .circle-3 {
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    width: 220px;
    height: 220px;
    animation: rotate-clock-wise 2s infinite linear;
}

.preloader-container .circle-4{
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 240px;
    height: 240px;
    animation: rotate-anti-clock-wise 2s infinite linear;

}


@keyframes rotate-clock-wise{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate-anti-clock-wise{
    100%{
        transform: rotate(-360deg);
    }
}